table {  
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  border-collapse: 
  collapse; border-spacing: 0; 
  width: 500px;
}

td, th {  
  border: 15px solid transparent; /* No more visible border */
  height: 55px; 
  transition: all 0.3s;  /* Simple transition for hover effect */
}

th {  
  background: #DFDFDF;  /* Darken header a bit */
  font-weight: bold;
}

td {  
  background: #FAFAFA;
  text-align: left;
  color: #B0B0B0;
}

/* Cells in even rows (2,4,6...) are one color */        
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */        
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; }  
/* Hover cell effect! */

a{
color:#303030;
margin-left: 5px;
font-size: 25px;
padding-right: 20px;
 
}

input {
  
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color:#FAFAFA;
  color:#383838;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  margin-left: 120px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}




