<app-navigation></app-navigation>


<app-table>
  
</app-table>


<!-- 
<a href="mailto:urvi@sample.com?subject=Heya, custom subject&body=Woah, I'm writing the email for you O.O">Mailto Link w/ subject + body</a>

<input type="password" class="form-control" formControlName="password" id="pwd"> -->

<!-- <button mat-button>
    <mat-icon>message</mat-icon>
    
</button><label #mylbl id="lblphone" style="visibility: visible">+918879374104</label>
<button on-click ="onClick()" id="test">Click</button>

<input #inputph id="inphone" style="visibility: hidden"><button id="btnsend">Send</button> --> -->